/*上边内容*/
.content_top {
	height: 125px;
	line-height: 125px;
}

.content_top ul li {
	float: left;
	padding-left: 10px;
	font-size: 16px;
	color: #999999;
}

.content_top ul li a {
	color: #999999;
}

.content_top ul li:nth-child(1) {
	padding-left: 0;
}

/* 全部分类 */
.totalSort {
	display: flex;
	height: 72px;
	background: #00979b;
}

.totalSortLeft {
	width: 185px;
	text-align: center;
	position: relative;
}

.totalSortLeft,
.totalSortRight {
	font-size: 16px;
	line-height: 72px;
	color: #ffffff;
}
#icon-jiantou1 {
	font-size: 24px;
	position: absolute;
}

.totalSortRight {
	width: 985px;
	display: flex;
	margin: 0;
}

.totalSortRight li {
	margin-right: 20px;
	font-weight: bold;
	padding: 0 10px;
	cursor: pointer;
}
/* 点击添加类 */
.totalSortHover{
	background: #fff;
	color: #00979b;
}
/* 主要内容 */
.progressMain {
	margin: 0;
	margin-top: 40px;
	/* display: flex;
	justify-content: space-between; */
}
.progressBox1:nth-child(2n){
	/* margin-left: 20px; */
}
/* .progressBox1:nth-child(1n){
	margin-right: 5px;
} */
.progressBox {
	height: 308px;
	width: 585px;
	/* padding: 25px 40px; */
	margin-bottom: 13px;
	font-weight: bold;
	display: flex;
	justify-content:center;
}
.weightimg{
	/* z-index: 999; */
}
.bjimg{
	position: absolute;
	/* top: 20px;
	left:20px; */
	/* border: 1px solid red; */
	height: 308px;
	width: 573.3px;
}
.pgbox{
	/* background:url('../../img/Pageimg/1.png')no-repeat;
	background-size: 100% 100%; */
	/* border: 1px solid red; */
	z-index: 9999;
	width: 98%;
	height: 100%;
}
.pgbox_box{
	padding: 30px 0 0 35px;
	/* padding-left:20px ;
	padding-top: 20px; */
}
.white{
	display: none;
}
.progressBoxHover{
	background: #00979b;
}
.progressBoxHover p,.progressBoxHover>ul>li,.progressBoxHover .progressMoney{
	color: #fff;
}
.progressMoney{
	/* color:red ; */
}
.progressTitle {
	/* z-index: 9999; */
	display: flex;
	font-size: 30px;
	color: #333333;
	margin-bottom: 15px;
}
.progressTitle>div {
	margin-left: 10px;
	/* width: 31px;
	height: 31px; */	
}
.progressList {
	height: 85px;
	overflow: hidden;
}

.progressList>li {
	font-size: 22px;
	color: #b3b3b3;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* display: -webkit-box; */
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

.progressMoney {
	height: 40px;
	font-size: 20px;
	color: #666666;
	letter-spacing: 1px;
}

.progressArrow {
	width: 42px;
	height: 27px;
}
